.header-block {
  height: 82px;
  background: $color-watermelon;
  overflow: hidden;
  position: relative;
}

.header__title {
  line-height: 82px;
  margin-left: 36px;
  color: $color-white;
  font-family: 'Open Sans Light';
  font-size: 23px;
  display: inline-block;
}

.header__subtitle {
  font-family: 'Open Sans';
  display: inline-block;
}

.header-sublinks {
  cursor: pointer;
}

.header-sublinks_active {
  font-weight: bold;
}

.subheader {
  height: 42px;
  background: $color-white;
}

.header-sublinks__link {
  display: inline-block;
  color: $color-grey;
  margin-left: 35px;
  line-height: 42px;
  font-size: 14px;
}

.header-sublinks_active {
  font-weight: bold;
  color: $color-grey-dark;
}

.header-login {
  position: absolute;
  right: 10px;
  top: 20px;
  color: $color-white;
  text-align: right;
  font-size: 12px;
}

.header-login_top {
  top: 15px;
}

.header-menu__button {
  font-weight: bold;
  cursor: pointer;
}

.header-menu__button_login {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.header-menu__text {
  font-family: 'Open Sans Light';
}
.header-inputs {
  display: inline-block;
  vertical-align: middle;
}

.header-menu__input {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.input-top {
  width: 110px;
  height: 20px;
}

.header-menu__input-subtitle {
  font-size: 10px;
  cursor: pointer;
}