@import 'style/variables';
@import 'style/common';
//@import 'directives/**/*';
@import 'modules/**/*';
@import 'services/**/*';

body
  margin: 0
  padding: 0

.wrapper
  width: 1000px
  margin: 0 auto
  position: relative

.clear
  clear: both
