.modal-confirm
  width: 300px
  background: $color-white
  position: absolute
  left: 50%
  margin-left: -150px
  margin-top: 100px
  padding: 20px
  text-align: center

.modal-confirm__title
  color: $color-grey
  font-family: Arial, sans-serif
  margin-bottom: 5px

.modal-confirm__button
  margin-right: 20px

  &.modal-confirm__button_last
    margin-right: 0

